<div id="details">
    <table class="ui table">
        <tr>
            <td>Office Phone:</td>
            <td><i class="icon-home"></i>
                <%= officePhone %>
            </td>
        </tr>
        <tr>
            <td>Cell Phone:</td>
            <td><i class="icon-headphones"></i>
                <%= cellPhone %>
            </td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><i class="icon-envelope"></i>
                <a href="mailto:<%= email %>">
                    <%= email %>
                </a>
            </td>
        </tr>
        <tr>
            <td>Twitter:</td>
            <td><i class="icon-retweet"></i>
                <a href="">
                    <%= twitterId %>
                </a>
            </td>
        </tr>
    </table>
</div>
<div id="reports">
</div>
