<div class="ui grid">
    <div class="row">
        <div class="ten wide column">
            <div class="ui menu">
                <a class="item" href="#" id="menuitem-home">
                    <i class="home icon"></i> Home
                </a>
                <a class="item" href="#contact" id="menuitem-contact">
                    <i class="mail icon"></i> Contact
                </a>
                <div class="right menu">
                    <div class="item">
                        <div class="ui transparent icon input">
                            <input placeholder="Search..." type="text">
                            <i class="search link icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="ten wide column" id="content">start content</div>
    </div>
</div>
